// https://coolors.co/663333-ff7f51-221004-ff82a9-6665dd

$primary: #663333;
$secondary: #ff7f51;
$info: #221004;
$warning: #ff82a9;
$danger: #6665dd;

$dark: #221004;

$body-bg: #f8f8f8;

@import "~bootstrap/scss/bootstrap";
